.upcoming{
    border: 1px solid blueviolet;
    margin-left: 4px;
}

.tasks{
    border: 1px solid rgb(0, 255, 106);
    padding-left: 50px;
}

.leaderboard{
    border: 1px solid rgb(0, 140, 255);
    padding-left: 50px;
}

.upcoming,.tasks,.leaderboard{
    width: 322px;
    height: 218px;
    margin-right: 15px;
}